body{
	padding: 0; 
	margin: 0;
	font-family: Rockwell, serif;
}

#main_nav {
  list-style-type: none;
  width: 15%;
  height: 100%; 
  position: fixed;  /* navigation bar stays on the left*/
  top: 0;
  left: 0;
}

main{
    margin-left: 15%;
    width: 85%;
	overflow: hidden;
}

section{
	width: 100%;
	position: relative;
	overflow: hidden;
}

#applyAppTop{
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
}

#applyAppTop img{
	float:left;
	width: 15%; 
}

#applyAppTop div{
	text-align: center;
	float:left;
	left: 15%;
	width: 65%; 
	padding: 0 0 0 1%; 
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	list-style: none;
	height: 100%;
	position: absolute;
}
#applyAppTop h2{
	padding: 4.5% 0 0 0; 
	margin: 0; 
}

/*credit to http://www.bestcssbuttongenerator.com*/

button {
	left: 86%;
    padding: 0; 
	margin: 0; 
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}


#applyAppBot{
	border-left: 2px solid #000000;
}

#applyAppBot h2{
	padding: 2% 0 0 25%; 

}

#applyAppBot p{
	padding: 4.5% 25% 0 25%; 
	margin-bottom: 3%;
	line-height: 200%;
}